// footer
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    padding: 10px 0;
    background: linear-gradient(to right, transparent, #00000079, transparent);

    p {
        @include outfit(200);
        font-size: .9em;
    }
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 5px auto 10px auto;

    div {
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 35px;
        width: 35px;
        border-radius: 12px;
        transition: .5s width ease-in-out .25s;
        cursor: pointer;

        a {
            min-width: -webkit-max-content;
            min-width: -moz-max-content;
            min-width: max-content;
        }

        &.gmail,
        &.whatsapp {
            background: #fff;

            a {
                color: #000;
                border-color: #0000009c;
            }
        }

        &.linkedin {
            a {
                color: #fff;
                border-color: #ffffff9c;
            }

            background: #0077b5;
        }

        &.github {
            a {
                color: #fff;
                border-color: #ffffff9c;
            }

            background: #000;
        }

        a {
            @include outfit(300);
            padding: 0 10px 0 10px;
            border-left: 2px solid;
        }
    }
}

#foot[data-active-index="0"]>.gmail {
    width: 254px;
}

#foot[data-active-index="1"]>.whatsapp {
    width: 187px;
}

#foot[data-active-index="2"]>.linkedin {
    width: 241px;
}

#foot[data-active-index="3"]>.github {
    width: 209px;
}