// footer
footer{
    padding: 10px 0;
    text-align: center;
    p{
        @include outfit(200);
        font-size: .9em;
    }
}
.social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: max-content;
    margin: 15px auto;
    div{
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 35px;
        width: 35px;
        border-radius: 12px;
        transition: .5s width ease-in-out .25s;
        cursor: pointer;
        a{
            min-width: max-content;
        }
        &.gmail, &.whatsapp{
            background: #fff;
            a{
                color: #000;
                border-color: #0000009c;
            }
        }
        &.linkedin{
            a{
                color: #fff;
                border-color: #ffffff9c;
            }
            background: #0077b5;
        }
        &.github{
            a{
                color: #fff;
                border-color: #ffffff9c;
            }
            background: #000;
        }
        a{
            @include outfit(300);
            padding: 0 10px 0 10px;
            border-left: 2px solid;
        }
    }
}

#foot[data-active-index="0"] > .gmail{
    width: 254px;
}
#foot[data-active-index="1"] > .whatsapp{
    width: 187px;
}
#foot[data-active-index="2"] > .linkedin{
    width: 241px;
}
#foot[data-active-index="3"] > .github{
    width: 209px;
}