header{
    padding: 15px 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        position: relative;
        width: 75px;
        height: 75px;
        cursor: pointer;
        .back-logo{
            transition: .75s transform ease-in;
            scale: .9;
        }
        &:hover > .back-logo{
            transform: rotate(90deg);
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .front{
        position: absolute;
        top: 0;
        left: 0;
    }
    .language img{
        cursor: pointer;
    }
}