/* reset */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}

/* Typo */
h1 {
  font-size: 2em;
}

h1, span {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  font-size: 16px;
  background: url(../../assets/imgs/main-bg.webp) right/cover no-repeat;
  min-height: 100vh;
  color: #fff;
  position: relative;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(7, 9, 19, 0.6352941176);
  backdrop-filter: hue-rotate(20deg);
  z-index: -1;
}

header {
  padding: 15px 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  position: relative;
}
header .front-logo {
  position: absolute;
  top: 0;
  left: 0;
}
header .language img {
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 150px);
}
main section {
  width: max-content;
  max-width: 50%;
}

#content .text {
  width: 55ch;
  text-align: justify;
  margin-bottom: 15px;
}
#content .use {
  display: flex;
  margin: 10px 0 15px 0;
  gap: 1.25em;
}
#content .use div {
  height: 40px;
  width: max-content;
  background: rgba(28, 4, 34, 0.3647058824);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 5px;
}
#content .use img {
  height: 100%;
  width: auto;
  margin: 0 5px;
}
#content .want-more {
  display: flex;
  justify-content: center;
}
#content .want-more div {
  background: rgba(112, 112, 112, 0.2745098039);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 1px 5px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
#content .want-more div p {
  margin-right: 5px;
}

#portefolio {
  color: #8695E4;
}
#portefolio .sector {
  background: rgba(7, 9, 19, 0.6352941176);
  backdrop-filter: blur(2px);
  border-radius: 15px;
  border: 1px solid #707070;
  padding: 10px 15px;
}
#portefolio .switch-field {
  display: flex;
  align-items: center;
  background: rgba(28, 4, 34, 0.3647058824);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 5px;
}
#portefolio .separation {
  width: 2px;
  border-radius: 2px;
  height: 30px;
  background: #707070;
  margin: 0 5px;
}
#portefolio .option {
  height: 35px;
  padding: 0.3em 0.7em;
  text-align: center;
  width: 200px;
  transition: 150ms all ease-in-out 150ms;
  cursor: pointer;
}
#portefolio .option.active {
  background: rgba(112, 112, 112, 0.2745098039);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid #707070;
}
#portefolio #change[data-active-index="0"] > .second {
  background: none;
  border: none;
  opacity: 0.5;
}
#portefolio #change[data-active-index="1"] > .first {
  background: none;
  border: none;
  opacity: 0.5;
}
#portefolio #change[data-active-index="1"] > .second {
  background: rgba(112, 112, 112, 0.2745098039);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid #707070;
}
#portefolio #change[data-active-index="1"] *.react {
  display: none;
}
#portefolio .navigation {
  margin: 5px 5px 20px 25px;
}
#portefolio .menu-item {
  width: max-content;
  cursor: pointer;
  transition: 250ms all ease;
}
#portefolio .menu-item p {
  font-size: 1.3em;
  line-height: 50px;
}
#portefolio #menu-items {
  height: max-content;
  width: max-content;
}
#portefolio #menu-items:hover > .menu-item {
  opacity: 0.5;
}
#portefolio #menu-items:hover > .menu-item:hover {
  opacity: 1;
  translate: 10px;
}

footer div {
  display: flex;
  gap: 5px;
  width: max-content;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
}

/* responsive */
/*Desktop First*/
.container {
  max-width: 1536px;
  margin: 0 auto;
  border: 1px solid red;
}

/*2xl*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/*xl*/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/*lg*/
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
/*md*/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/*sm*/
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/*xs*/
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}