@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Typo */
h1 {
  font-size: 2em;
}

h1, span {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Reset and main style */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}

/* Define styles for different background indexes */
body[bg-index="1"] {
  background: #000 url(../../assets/imgs/bg-proj/bat.webp) top center/cover no-repeat;
  height: 100lvh;
}
body[bg-index="1"]::after {
  opacity: 0;
}

body[bg-index="2"] {
  background: #000 url(../../assets/imgs/bg-proj/pant.webp) 70% 20%/cover no-repeat;
  height: 100lvh;
}
body[bg-index="2"]::after {
  opacity: 0;
}

body[bg-index="3"] {
  background: #000 url(../../assets/imgs/bg-proj/sup.webp) right/cover no-repeat;
  height: 100lvh;
}
body[bg-index="3"]::after {
  opacity: 0;
}

body {
  background: url(../../assets/imgs/main-bg.webp) 90% center/cover no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  height: 100lvh;
  color: #fff;
  position: relative;
  transition: 0.5s all ease;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  background: rgba(7, 9, 19, 0.6352941176);
  backdrop-filter: hue-rotate(20deg);
  z-index: -1;
  transition: 0.25s all ease-in-out;
}

header {
  padding: 15px 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  position: relative;
  cursor: pointer;
}
header .logo .back-logo {
  transition: 0.75s all ease-in;
  scale: 0.9;
}
header .logo:hover > .back-logo {
  transform: rotate(90deg);
}
header .front {
  position: absolute;
  top: 0;
  left: 0;
}
header .language img {
  cursor: pointer;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(100lvh - 150px);
}
main section {
  width: max-content;
}

#content {
  max-width: 455px;
}
#content .text {
  width: 55ch;
  text-align: justify;
  margin-bottom: 15px;
}
#content .use {
  display: flex;
  margin: 10px 0 15px 0;
  gap: 1.25em;
}
#content .use div {
  height: 40px;
  width: max-content;
  background: rgba(28, 4, 34, 0.3647058824);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 5px;
}
#content .use img {
  height: 100%;
  width: auto;
  margin: 0 5px;
}
#content .want-more {
  display: flex;
  justify-content: center;
}
#content .want-more div {
  background: rgba(112, 112, 112, 0.2745098039);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 1px 5px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
#content .want-more div p {
  margin-right: 5px;
}

#portefolio {
  color: #8695E4;
  max-width: 405px;
}
#portefolio .sector {
  background: rgba(7, 9, 19, 0.6352941176);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: 1px solid #707070;
  overflow: hidden;
}
#portefolio .name {
  border-bottom: 1px solid #707070;
  background: rgba(28, 4, 34, 0.3647058824);
  border-radius: 12px 12px 0 0;
  width: 100%;
  padding: 0 10px;
  min-width: 400px;
}
#portefolio .name h1 {
  color: 70913;
}
#portefolio .option {
  height: 35px;
  padding: 0.3em 0.7em;
  text-align: center;
  width: 200px;
  transition: 150ms all ease-in-out 150ms;
  cursor: pointer;
}
#portefolio .option.active {
  background: rgba(112, 112, 112, 0.2745098039);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #707070;
}
#portefolio .navigation {
  margin: 5px 5px 15px 25px;
}
#portefolio .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 250ms all ease;
  position: relative;
}
#portefolio .menu-item p {
  font-size: 1.3em;
  line-height: 50px;
  transition: 250ms all ease;
}
#portefolio .menu-item span {
  margin-right: 10px;
}
#portefolio #menu-items {
  height: max-content;
}
#portefolio #menu-items:hover > .menu-item {
  opacity: 0.3;
}
#portefolio #menu-items:hover > .menu-item:hover {
  opacity: 1;
}
#portefolio #menu-items:hover > .menu-item:hover p {
  padding-left: 10px;
}

/* Footer */
footer {
  padding: 50px 0;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: max-content;
  margin: 0 auto;
}
.social-media div {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 35px;
  width: 35px;
  border-radius: 12px;
  transition: 0.5s width ease-in-out 0.25s;
  cursor: pointer;
}
.social-media div a {
  min-width: max-content;
}
.social-media div.gmail, .social-media div.whatsapp {
  background: #fff;
}
.social-media div.gmail a, .social-media div.whatsapp a {
  color: #000;
  border-color: rgba(0, 0, 0, 0.6117647059);
}
.social-media div.linkedin {
  background: #0077b5;
}
.social-media div.linkedin a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6117647059);
}
.social-media div.github {
  background: #000;
}
.social-media div.github a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6117647059);
}
.social-media div a {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 0 10px 0 10px;
  border-left: 2px solid;
}

#foot[data-active-index="0"] > .gmail {
  width: 254px;
}

#foot[data-active-index="1"] > .whatsapp {
  width: 187px;
}

#foot[data-active-index="2"] > .linkedin {
  width: 241px;
}

#foot[data-active-index="3"] > .github {
  width: 209px;
}

/* custom cursor */
.js-cursor {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  margin: -20px 0 0 -20px;
  mix-blend-mode: difference;
  transition-duration: 0.4s;
  transition-property: visibility, opacity;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;
}
.js-cursor:before, .js-cursor:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
}
.js-cursor:before {
  height: 8px;
  width: 8px;
  background: rgba(255, 255, 255, 0.8);
}
.js-cursor:after {
  height: 20px;
  width: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition-duration: 0.4s;
  transition-property: border-color, background, transform;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.js-cursor.is-active {
  opacity: 1;
  visibility: visible;
  will-change: transform;
}
.js-cursor.is-focus:after {
  transform: translate3d(-50%, -50%, 0) scale(2);
  border-color: transparent;
  background: rgba(255, 255, 255, 0.2);
}
.js-cursor.is-hidden {
  visibility: hidden;
  opacity: 0;
}

/* Responsive */
/*Desktop First*/
.container {
  max-width: 1536px;
  margin: 0 auto;
  border: 1px solid red;
}

/*2xl*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/*xl*/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/*lg*/
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
/*md*/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/*sm*/
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/*xs*/
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  #content {
    width: 100%;
    min-width: 250px;
    padding: 25px;
  }
  #content h1 {
    font-size: clamp(1.4em, 85vw, 1.7em);
  }
  #content .text {
    width: 100%;
  }
  #content .use {
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  #portefolio {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 75px;
  }
}