@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Typo */
h1 {
  font-size: 2em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

h1,
span {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #6495ED;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: clamp(1.5em, 10vw, 2.5em);
}

h4 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  color: #fff;
}

/* Reset and main style */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}

/* Define styles for different background indexes */
body[bg-index="1"] {
  background: #000 url(../../assets/imgs/bg-proj/bat.webp) top center/cover no-repeat fixed;
  height: 100lvh;
}
body[bg-index="1"]::after {
  opacity: 0;
}

body[bg-index="2"] {
  background: #000 url(../../assets/imgs/bg-proj/pant.webp) 70% 20%/cover no-repeat fixed;
  height: 100lvh;
}
body[bg-index="2"]::after {
  opacity: 0;
}

body[bg-index="3"] {
  background: #000 url(../../assets/imgs/bg-proj/sup.webp) right/cover no-repeat fixed;
  height: 100lvh;
}
body[bg-index="3"]::after {
  opacity: 0;
}

body[bg-index="4"] {
  background: #000 url(../../assets/imgs/bg-proj/tour.webp) left/cover no-repeat fixed;
  height: 100lvh;
}
body[bg-index="4"]::after {
  opacity: 0;
}

body[bg-index="5"] {
  background: #000 url(../../assets/imgs/bg-proj/malala.webp) center/cover no-repeat fixed;
  height: 100lvh;
}
body[bg-index="5"]::after {
  opacity: 0;
}

body {
  background: #070913 url(../../assets/imgs/main-bg.webp) 90% center/cover no-repeat fixed;
  font-size: 16px;
  height: 100lvh;
  color: #fff;
  position: relative;
  transition: 0.5s all ease;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  background: rgba(7, 9, 19, 0.5490196078);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: -1;
  transition: 0.25s all ease-in-out;
}

header {
  padding: 15px 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
header .logo .back-logo {
  transition: 0.75s transform ease-in;
  transform: scale(0.9);
}
header .logo:hover > .back-logo {
  transform: rotate(90deg);
}
header .logo img {
  width: 100%;
  height: 100%;
}
header .front {
  position: absolute;
  top: 0;
  left: 0;
}
header .language img {
  cursor: pointer;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(100lvh - 197px);
  margin: 25px 0 35px 0;
  padding: 50px 0;
}
main section {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#content {
  max-width: 455px;
}
#content span {
  color: #0096FF;
}
#content .text {
  width: 55ch;
  text-align: justify;
  margin-bottom: 15px;
}
#content .use {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}
#content .use div {
  height: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: rgba(28, 4, 34, 0.3647058824);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 5px;
}
#content .use img {
  height: 100%;
  width: auto;
  margin: 0 5px;
}
#content .want-more {
  display: flex;
  justify-content: center;
}
#content .want-more button,
#content .want-more a {
  background: rgba(112, 112, 112, 0.2745098039);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 1px 5px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  outline: 1px solid rgba(112, 112, 112, 0.2745098039);
  outline-offset: -2px;
  transition: 0.25s outline-offset ease-in-out;
}
#content .want-more button p,
#content .want-more a p {
  margin-right: 5px;
  color: #fff;
  font-size: 1.1em;
}
#content .want-more button:hover, #content .want-more button:focus,
#content .want-more a:hover,
#content .want-more a:focus {
  outline: 1px solid rgba(112, 112, 112, 0.2745098039);
  outline-offset: 4px;
}

.text-change-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-change {
  font-family: "Goldman", monospace;
  font-weight: normal;
  font-size: larger;
  color: #c8c8c8;
  -webkit-filter: drop-shadow(0 0 0.3em rgba(200, 200, 200, 0.3));
  filter: drop-shadow(0 0 0.3em rgba(200, 200, 200, 0.3));
}

.dud {
  color: #7DF9FF;
  -webkit-filter: drop-shadow(0 0 0.5em #00f);
  filter: drop-shadow(0 0 0.5em #00f);
}

#portefolio {
  color: #8695E4;
  max-width: 405px;
}
#portefolio .sector {
  background: rgba(7, 9, 19, 0.6352941176);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: 1px solid #707070;
  overflow: hidden;
}
#portefolio .name {
  border-bottom: 1px solid #707070;
  background: rgba(28, 4, 34, 0.3647058824);
  border-radius: 12px 12px 0 0;
  width: 100%;
  padding: 0 10px;
  min-width: 400px;
}
#portefolio .name h1 {
  color: 70913;
}
#portefolio .option {
  height: 35px;
  padding: 0.3em 0.7em;
  text-align: center;
  width: 200px;
  transition: 150ms all ease-in-out 150ms;
  cursor: pointer;
}
#portefolio .option.active {
  background: rgba(112, 112, 112, 0.2745098039);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #707070;
}
#portefolio .navigation {
  margin: 5px 5px 15px 25px;
}
#portefolio .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 250ms all ease;
  position: relative;
}
#portefolio .menu-item p {
  font-size: 1.3em;
  line-height: 50px;
  transition: 250ms all ease;
}
#portefolio .menu-item span {
  margin-right: 10px;
}
#portefolio #menu-items {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
#portefolio #menu-items:hover > .menu-item {
  opacity: 0.3;
}
#portefolio #menu-items:hover > .menu-item:hover {
  opacity: 1;
}
#portefolio #menu-items:hover > .menu-item:hover p {
  padding-left: 10px;
}

.toggled {
  margin: 0 25px;
  min-width: 440px;
}
.toggled h3 {
  text-shadow: #000 0px 0px 3px, #000 0px 0px 6px;
}
.toggled h4 {
  text-shadow: #000 0px 0px 2px, #000 0px 0px 4px, #000 0px 0px 6px, #000 0px 0px 10px;
}
.toggled .back {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
  background: rgba(0, 0, 0, 0.6784313725);
  box-shadow: rgba(0, 0, 0, 0.5882352941) 0px 0px 2px, rgba(0, 0, 0, 0.5882352941) 0px 0px 4px, rgba(0, 0, 0, 0.5882352941) 0px 0px 6px, rgba(0, 0, 0, 0.5882352941) 0px 0px 8px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
}
.toggled .back:hover, .toggled .back:focus {
  transform: translateX(-10px);
}
.toggled .infos {
  margin: 15px 0;
  text-align: justify;
  background: rgba(7, 9, 19, 0.5490196078);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid #707070;
  border: none;
  padding: 10px 15px;
}
.toggled .more {
  display: flex;
  gap: 12px;
}
.toggled .btn {
  display: flex;
  align-items: center;
  background: rgba(7, 9, 19, 0.5490196078);
  -webkit-backdrop-filter: blur(3px) brightness(100%);
  backdrop-filter: blur(3px) brightness(100%);
  border: 2px solid rgba(255, 255, 255, 0.6509803922);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.1em 0.9em;
  margin: 10px 0;
  border-radius: 25px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-shadow: #000 0px 0px 4px, #000 0px 0px 8px;
  cursor: pointer;
  outline: 1px solid rgba(255, 255, 255, 0.6509803922);
  outline-offset: -2px;
  transition: 0.25s outline-offset ease-in-out;
}
.toggled .btn:hover, .toggled .btn:focus {
  outline-offset: 4px;
}
.toggled .btn span {
  margin-left: 10px;
  padding-top: 5px;
  transition: 0.25s all ease-in-out;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
.category div {
  background: transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  border: 1px solid #707070;
  border: 2px solid rgba(255, 255, 255, 0.8274509804);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 2px 10px;
  text-align: center;
  color: #ffffff;
}

#content[picked-one="0"] > *:not(#intro) {
  display: none;
}

#content[picked-one="1"] > *:not(#bat) {
  display: none;
}

#content[picked-one="2"] > *:not(#black) {
  display: none;
}

#content[picked-one="3"] > *:not(#sup) {
  display: none;
}

#content[picked-one="4"] > *:not(#tour) {
  display: none;
}

#content[picked-one="5"] > *:not(#malala) {
  display: none;
}

#portefolio[form-folio="0"] > *:not(.sector) {
  display: none;
}

#portefolio[form-folio="1"] > *:not(form) {
  display: none;
}

form {
  background: rgba(7, 9, 19, 0.6352941176);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: 1px solid #707070;
  position: relative;
  padding: 45px 10px 10px 10px;
  text-align: center;
  min-width: 402px;
}
form .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.25s transform ease;
}
form .close:hover {
  transform: scale(1.1);
}
form .fields {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
form .show,
form input {
  border: 1px solid #707070;
  background: rgba(7, 9, 19, 0.6352941176);
  padding: 5px;
}
form .show {
  width: 75px;
  text-align: center;
  border-radius: 20px 10px 10px 20px;
}
form input {
  width: 100%;
  color: #8695E4;
  border-radius: 10px 20px 20px 10px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  padding-left: 10px;
}
form input:focus {
  background: rgba(7, 9, 19, 0.6352941176);
}
form textarea {
  width: 100%;
  color: #8695E4;
  background: rgba(7, 9, 19, 0.6352941176);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: 1px solid #707070;
  padding: 10px;
  resize: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}
form *::-webkit-input-placeholder {
  color: rgba(134, 150, 228, 0.5254901961);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}
form *::-moz-placeholder {
  color: rgba(134, 150, 228, 0.5254901961);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}
form *:-ms-input-placeholder {
  color: rgba(134, 150, 228, 0.5254901961);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}
form *::-ms-input-placeholder {
  color: rgba(134, 150, 228, 0.5254901961);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}
form *::placeholder {
  color: rgba(134, 150, 228, 0.5254901961);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}
form input,
form textarea {
  outline: 1px solid rgba(112, 112, 112, 0.2745098039);
  outline-offset: -2px;
  transition: 0.25s outline-offset ease-in-out;
}
form input:hover, form input:focus,
form textarea:hover,
form textarea:focus {
  outline: 1px solid rgba(112, 112, 112, 0.2745098039);
  outline-offset: 2px;
}
form button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: rgba(7, 9, 19, 0.6352941176);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid #707070;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 15px;
  margin-top: 5px;
  transition: 0.5s box-shadow ease-in-out;
  cursor: pointer;
}
form button:hover, form button:focus {
  box-shadow: rgba(255, 255, 255, 0.3098039216) 0px 0px 12px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  padding: 10px 0;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4745098039), transparent);
}
footer p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 0.9em;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 5px auto 10px auto;
}
.social-media div {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 35px;
  width: 35px;
  border-radius: 12px;
  transition: 0.5s width ease-in-out 0.5s;
  cursor: pointer;
}
.social-media div a {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.social-media div.gmail, .social-media div.whatsapp {
  background: #fff;
}
.social-media div.gmail a, .social-media div.whatsapp a {
  color: #000;
  border-color: rgba(0, 0, 0, 0.6117647059);
}
.social-media div.linkedin {
  background: #0077b5;
}
.social-media div.linkedin a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6117647059);
}
.social-media div.github {
  background: #000;
}
.social-media div.github a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6117647059);
}
.social-media div a {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 0 10px 0 10px;
  border-left: 2px solid;
}

#foot[data-active-index="0"] > .gmail {
  width: 260px;
}

#foot[data-active-index="1"] > .whatsapp {
  width: 187px;
}

#foot[data-active-index="2"] > .linkedin {
  width: 241px;
}

#foot[data-active-index="3"] > .github {
  width: 209px;
}

/* custom cursor */
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 4;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.hover {
  background-color: rgba(7, 9, 19, 0.5490196078);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

/* Responsive */
/*Desktop First*/
.container {
  max-width: 1536px;
  margin: 0 auto;
}

/*2xl*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/*xl*/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/*lg*/
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
/*md*/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/*sm*/
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  #content h1 {
    font-size: 2em;
  }
}
/*xs*/
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  #content {
    width: 100%;
    min-width: 250px;
    padding: 25px;
  }
  #content h1 {
    font-size: clamp(1.2em, 6.5vw, 1.9em);
  }
  #content .text {
    width: 100%;
  }
  #content .use {
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  #portefolio {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 75px;
  }
}
/* Intro animation */
#intro {
  -webkit-animation: 0.5s intro ease forwards;
  animation: 0.5s intro ease forwards;
}

@-webkit-keyframes intro {
  from {
    transform: translateY(-25px);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
@keyframes intro {
  from {
    transform: translateY(-25px);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
/* Popup animation */
#success-popup {
  display: none;
  -webkit-animation: 0.5s popup ease;
  animation: 0.5s popup ease;
}

@-webkit-keyframes popup {
  from {
    transform: translateX(50px);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
@keyframes popup {
  from {
    transform: translateX(50px);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
/* Logo animation */
.logo {
  -webkit-animation: roll-in-left 0.7s ease-out both 2.7s;
  animation: roll-in-left 0.7s ease-out both 2.7s;
}

@-webkit-keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/* Sector animation */
.sector {
  -webkit-animation: swing-in-right-fwd 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-right-fwd 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-right-fwd {
  0% {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-fwd {
  0% {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
/* Form animation */
#contact-form {
  -webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-200px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-200px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
/* Toggled animation */
.toggled {
  -webkit-animation: 0.35s entrance ease-in forwards;
  animation: 0.35s entrance ease-in forwards;
  opacity: 0;
}

@-webkit-keyframes entrance {
  from {
    transform: translateX(-50px);
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes entrance {
  from {
    transform: translateX(-50px);
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
/* Puff out animation */
@-webkit-keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  99.9% {
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
    z-index: -1;
  }
  100% {
    display: none;
  }
}
@keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  99.9% {
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
    z-index: -1;
  }
  100% {
    display: none;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #070913;
  z-index: 3;
  transition: 0.45s ease-in-out all;
}

.loader-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#success-popup {
  position: fixed;
  top: 100px;
  right: 15px;
  background: rgba(28, 4, 34, 0.3647058824);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #707070;
  display: none;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 0px;
  padding: 5px 10px;
  gap: 10px;
  -webkit-animation: 0.25s all entrance;
  animation: 0.25s all entrance;
}
#success-popup span {
  border-left: 2px solid rgba(255, 255, 255, 0.5882352941);
  padding-left: 10px;
  padding-top: 2px;
}