/* Intro animation */
#intro {
    -webkit-animation: .5s intro ease forwards;
    animation: .5s intro ease forwards;
}

@-webkit-keyframes intro {
    from {
        transform: translateY(-25px);
        opacity: 0;
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes intro {
    from {
        transform: translateY(-25px);
        opacity: 0;
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

/* Popup animation */
#success-popup {
    display: none;
    -webkit-animation: .5s popup ease;
    animation: .5s popup ease;
}

@-webkit-keyframes popup {
    from {
        transform: translateX(50px);
        opacity: 0;
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes popup {
    from {
        transform: translateX(50px);
        opacity: 0;
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

/* Logo animation */
.logo {
    -webkit-animation: roll-in-left .7s ease-out both 2.7s;
    animation: roll-in-left .7s ease-out both 2.7s;
}

@-webkit-keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

/* Sector animation */
.sector {
    -webkit-animation: swing-in-right-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-right-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-right-fwd {
    0% {
        transform: rotateY(-100deg);
        transform-origin: right;
        opacity: 0;
    }

    100% {
        transform: rotateY(0);
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes swing-in-right-fwd {
    0% {
        transform: rotateY(-100deg);
        transform-origin: right;
        opacity: 0;
    }

    100% {
        transform: rotateY(0);
        transform-origin: right;
        opacity: 1;
    }
}

/* Form animation */
#contact-form {
    -webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-left-1 {
    0% {
        transform: rotateX(-30deg) translateX(-200px) skewX(-30deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-left-1 {
    0% {
        transform: rotateX(-30deg) translateX(-200px) skewX(-30deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}

/* Toggled animation */
.toggled {
    -webkit-animation: .35s entrance ease-in forwards;
    animation: .35s entrance ease-in forwards;
    opacity: 0;
}

@-webkit-keyframes entrance {
    from {
        transform: translateX(-50px);
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes entrance {
    from {
        transform: translateX(-50px);
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

/* Puff out animation */
@-webkit-keyframes puff-out-hor {
    0% {
        transform: scaleX(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }

    99.9% {
        transform: scaleX(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        z-index: -1;
    }

    100% {
        display: none;
    }
}

@keyframes puff-out-hor {
    0% {
        transform: scaleX(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }

    99.9% {
        transform: scaleX(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        z-index: -1;
    }

    100% {
        display: none;
    }
}