/*Desktop First*/
.container {
    max-width: 1536px;
    margin: 0 auto;
}

/*2xl*/
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/*xl*/
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/*lg*/
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/*md*/
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/*sm*/
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/*xs*/
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
    #content{
        width: 100%;
        min-width: 250px;
        padding: 25px;
        h1{
            font-size: clamp(1.2em, 10vw + 1em, 1.7em);
        }
        .text{
            width: 100%;
        }
        .use{
            flex-wrap: wrap;
            margin-bottom: 35px;
        }
    }
    #portefolio{
        width: 100%;
        padding: 0 20px;
        margin-bottom: 75px;
    }
}