// addons sass
@import './_shared/typo';
@import './_shared/mixins';

/* Reset and main style */
@import './components/default';
@import './components/navbar';

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100dvh - 150px);

    section {
        width: max-content;
    }
}
// Page
@import './addons/content';
@import './addons/poretefolio';

/* Footer */
@import './components/footer';
@import './components/cursor';

/* Responsive */
@import './responsive';