// addons sass
@import './_shared/typo';
@import './_shared/mixins';

/* Reset and main style */
@import './components/default';
@import './components/navbar';

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100lvh - 150px);
    margin: 25px 0 35px 0;
    section {
        width: max-content;
    }
}
// Page
@import './addons/content';
@import './addons/poretefolio';
@import './addons/toggled';

/* Footer */
@import './components/footer';
@import './components/cursor';

/* Responsive */
@import './responsive';