/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

// Fonts
@import './_shared/typo';

@mixin box($bg: #1c04225d, $bora: 10px){
    background: $bg;
    backdrop-filter: blur(3px);
    border-radius: $bora;
    border: 1px solid #707070;
}

/* Define styles for different background indexes */
body[bg-index="0"] {
    background: #000 url(../../assets/imgs/bg-proj/bat.webp) top center/cover no-repeat;
    height: 100dvh;
}

body[bg-index="1"] {
    background: #000 url(../../assets/imgs/bg-proj/pant.webp) 70% 20%/cover no-repeat;
    height: 100dvh;
}

body[bg-index="2"] {
    background: #000 url(../../assets/imgs/bg-proj/sup.webp) right/cover no-repeat;
    height: 100dvh;
}

// Body
body{
    background: url(../../assets/imgs/main-bg.webp) right/cover no-repeat;
    font-size: 16px;
    min-height: 100dvh;
    color: #fff;
    position: relative;
    transition: .5s all ease;
    // &::after{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100vw;
    //     height: 100dvh;
    //     background: #070913a2;
    //     backdrop-filter: hue-rotate(20deg);
    //     z-index: -1;
    // }
}

header{
    padding: 15px 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        position: relative;
    }
    .front-logo{
        position: absolute;
        top: 0;
        left: 0;
    }

    .language img{
        cursor: pointer;
    }
}

// main
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100dvh - 150px);
    section{
        width: max-content;
        max-width: 50%;
    }
}
// First the content section
#content {

    .text{
        width: 55ch;
        text-align: justify;
        margin-bottom: 15px;
    }
    
    .use{
        display: flex;
        margin: 10px 0 15px 0;
        gap: 1.25em;
        div{
            height: 40px;
            width: max-content;
            @include box();
            padding: 5px;
        }
        img{
            height: 100%;
            width: auto;
            margin: 0 5px;
        }
    }
    
    .want-more{
        display: flex;
        justify-content: center;
        div{
            @include box(#70707046, 10px);
            padding: 1px 5px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            p{
                margin-right: 5px;
            }
        }
    }
}

// portefolio

#portefolio{
    color: #8695E4;
    .sector{
        @include box(#070913a2, 15px);
        overflow: hidden;
    }
    .name{
        border-bottom: 1px solid #707070;
        background: #1c04225d;
        border-radius: 12px 12px 0 0;
        width: 100%;
        padding: 0 10px;
        min-width: 400px;
        h1{
            color: 070913;
        }
    }
    
    .option{
        height: 35px;
        padding: .3em .7em;
        text-align: center;
        width: 200px;
        transition: 150ms all ease-in-out 150ms;
        cursor: pointer;
        &.active{
            @include box(#70707046, );
        }
    }

    .navigation{
        margin: 5px 5px 15px 25px;
    }

    .menu-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
        transition: 250ms all ease;
        position: relative;
        p{
            font-size: 1.3em;
            line-height: 50px;
            transition: 250ms all ease;
        }
        span{
            margin-right: 10px;
        }
    }

    // Project menu hover
    #menu-items{
        height: max-content;
    }
    #menu-items:hover > .menu-item{
        opacity: .3;
    }
    #menu-items:hover > .menu-item:hover{
        opacity: 1;
        p{
            padding-left: 10px;
        }
    }
}


// footer
footer{
    div{
        display: flex;
        gap: 5px;
        width: max-content;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 12px;
    }
}
/* responsive */
@import './responsive';