// First the content section
#content {
    max-width: 455px;

    span {
        color: #0096FF;
    }

    .text {
        width: 55ch;
        text-align: justify;
        margin-bottom: 15px;
    }

    .use {
        display: flex;
        gap: 15px;
        margin-bottom: 25px;

        div {
            height: 40px;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            @include box();
            padding: 5px;
        }

        img {
            height: 100%;
            width: auto;
            margin: 0 5px;
        }
    }

    .want-more {
        display: flex;
        justify-content: center;

        button,
        a {
            @include box(#70707046, 10px);
            padding: 1px 5px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            outline: 1px solid #70707046;
            outline-offset: -2px;
            transition: .25s outline-offset ease-in-out;

            p {
                margin-right: 5px;
                color: #fff;
                font-size: 1.1em;
            }

            &:hover,
            &:focus {
                outline: 1px solid #70707046;
                outline-offset: 4px;
            }
        }
    }
}

.text-change-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-change {
    font-family: 'Goldman', monospace;
    font-weight: normal;
    font-size: larger;
    color: #c8c8c8;
    -webkit-filter: drop-shadow(0 0 0.3em rgba(200, 200, 200, 0.3));
    filter: drop-shadow(0 0 0.3em rgba(200, 200, 200, 0.3));
}

.dud {
    color: #7DF9FF;
    -webkit-filter: drop-shadow(0 0 0.5em #00f);
    filter: drop-shadow(0 0 0.5em #00f);
}