.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #070913;
    z-index: 3;
    transition: .45s ease-in-out all;
}

.loader-hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
}

#success-popup{
    position: fixed;
    top: 100px;
    right: 15px;
    @include box();
    display: none;
    align-items: center;
    width: max-content;
    border: none;
    border-radius: 0px;
    padding: 5px 10px;
    gap: 10px;
    animation: .25s all entrance;
    span{
        border-left: 2px solid #ffffff96;
        padding-left: 10px;
        padding-top: 2px;
    }
}