.toggled {
    margin: 0 25px;
    min-width: 440px;
    h3 {
        text-shadow: #000 0px 0px 3px, #000 0px 0px 6px;
    }
    h4 {
        text-shadow: #000 0px 0px 2px, #000 0px 0px 4px, #000 0px 0px 6px, #000 0px 0px 10px;
    }
    .back {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        cursor: pointer;
        transition: transform .25s ease-in-out;
        background: #000000ad;
        box-shadow: #00000096 0px 0px 2px, #00000096 0px 0px 4px, #00000096 0px 0px 6px, #00000096 0px 0px 8px;
        height: 35px;
        width: 35px;
        border-radius: 10px;
        &:hover,
        &:focus {
            transform: translateX(-10px);
        }
    }
    .infos{
        margin: 15px 0;
        text-align: justify;
        @include box(#0709138c, 20px);
        border: none;
        padding: 10px 15px;
    }
    .btn {
        display: flex;
        align-items: center;
        background: #0709138c;
        -webkit-backdrop-filter: blur(3px) brightness(100%);
        backdrop-filter: blur(3px) brightness(100%);
        border: 2px solid #ffffffa6;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: .1em .9em;
        margin: 10px 0;
        border-radius: 25px;
        @include outfit(200);
        text-shadow: #000 0px 0px 4px, #000 0px 0px 8px;
        cursor: pointer;
        outline: 1px solid #ffffffa6;
        outline-offset: -2px;
        transition: .25s outline-offset ease-in-out;

        &:hover,
        &:focus {
            outline-offset: 4px;
        }

        span {
            margin-left: 10px;
            padding-top: 5px;
            transition: .25s all ease-in-out;
        }
    }
}

.category{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    div{
        @include box(transparent, 12px);
        border: 2px solid #ffffffd3;
        @include outfit(300);
        padding: 2px 10px;
        text-align: center;
        color: #ffffff;
    }
}

#content[picked-one="0"]>*:not(#intro) {
    display: none;
}

#content[picked-one="1"]>*:not(#bat) {
    display: none;
}

#content[picked-one="2"]>*:not(#black) {
    display: none;
}

#content[picked-one="3"]>*:not(#sup) {
    display: none;
}

#content[picked-one="4"]>*:not(#tour) {
    display: none;
}

#content[picked-one="5"]>*:not(#malala) {
    display: none;
}