.toggled{
    margin: 0 25px;
    h3{
        font-size: clamp(1.5em, 10vw, 2.5em);
    }
    .back{
        width: max-content;
        cursor: pointer;
        transition: translate .25s ease-in-out;
        &:hover, &:focus{
            translate: -10px;
        }
    }
    .btn{
        display: flex;
        align-items: center;
        background: #81818142;
        backdrop-filter: blur(3px) brightness(100%);
        border: 2px solid #7070706b;
        width: max-content;
        padding: .1em .9em;
        margin: 10px 0;
        border-radius: 25px;
        @include outfit(200);
        cursor: pointer;
        outline: 1px solid #70707046;
        outline-offset: -2px;
        transition: .25s outline-offset ease-in-out;
        &:hover, &:focus{
            outline: 1px solid #70707046;
            outline-offset: 4px;
        }
        span{
            margin-left: 10px;
            padding-top: 5px;
            transition: .25s all ease-in-out;
        }
    }
}

#content[picked-one="0"] > *:not(#intro){
    display: none;
}
#content[picked-one="1"] > *:not(#bat){
    display: none;
}
#content[picked-one="2"] > *:not(#black){
    display: none;
}
#content[picked-one="3"] > *:not(#sup){
    display: none;
}